<a href="https://colab.research.google.com/github/Stanslusokurut/Sales-Prediction/blob/main/Machine_Learning_Exercise_2_Cereal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
# Import libraries and load the data
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
# Let us load the data
import pandas as pd

# Edit and place your path here
filename = "/content/drive/MyDrive/Data Science/Datasets/Machine Learning Data/Cereal with missing values.xlsx - Sheet 1 - cereal.csv"
#File has headers
df = pd.read_csv(filename)
df.head()

,name,Manufacturer,type,calories per serving,grams of protein,grams of fat,milligrams of sodium,grams of dietary fiber,grams of complex carbohydrates,grams of sugars,milligrams of potassium,vitamins and minerals (% of FDA recommendation),Display shelf,Weight in ounces per one serving,Number of cups in one serving,Rating of cereal
0,Apple Cinnamon Cheerios,General Mills,Cold,110.0,2,2.0,180.0,1.5,10.5,10.0,70,25.0,1,1.00,0.75,29.509541
1,Basic 4,General Mills,Cold,130.0,3,2.0,NaN,2.0,18.0,NaN,100,25.0,3,1.33,0.75,37.038562
2,Cheerios,General Mills,Cold,NaN,6,2.0,290.0,2.0,17.0,1.0,105,25.0,1,1.00,1.25,50.764999
3,Cinnamon Toast Crunch,General Mills,Cold,120.0,1,3.0,210.0,0.0,13.0,9.0,45,25.0,2,1.00,0.75,19.823573
4,Clusters,General Mills,Cold,110.0,3,2.0,140.0,2.0,13.0,7.0,105,25.0,3,1.00,0.50,40.400208

In [7]:
df.head()

,name,Manufacturer,type,calories per serving,grams of protein,grams of fat,milligrams of sodium,grams of dietary fiber,grams of complex carbohydrates,grams of sugars,milligrams of potassium,vitamins and minerals (% of FDA recommendation),Display shelf,Weight in ounces per one serving,Number of cups in one serving,Rating of cereal
0,Apple Cinnamon Cheerios,General Mills,Cold,110.0,2,2.0,180.0,1.5,10.5,10.0,70,25.0,1,1.00,0.75,29.509541
1,Basic 4,General Mills,Cold,130.0,3,2.0,NaN,2.0,18.0,NaN,100,25.0,3,1.33,0.75,37.038562
2,Cheerios,General Mills,Cold,NaN,6,2.0,290.0,2.0,17.0,1.0,105,25.0,1,1.00,1.25,50.764999
3,Cinnamon Toast Crunch,General Mills,Cold,120.0,1,3.0,210.0,0.0,13.0,9.0,45,25.0,2,1.00,0.75,19.823573
4,Clusters,General Mills,Cold,110.0,3,2.0,140.0,2.0,13.0,7.0,105,25.0,3,1.00,0.50,40.400208

In [8]:
#Create the Y variable (Target Matrix)
y = df['calories per serving']
#Create te Features Matrix
X = df.drop(columns ='calories per serving')

In [26]:
#Create Test data and training dataset #using the default 75% train and 25% test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42,)

In [9]:
y.head()

0    110.0
1    130.0
2      NaN
3    120.0
4    110.0
Name: calories per serving, dtype: float64

In [10]:
X.head()

,name,Manufacturer,type,grams of protein,grams of fat,milligrams of sodium,grams of dietary fiber,grams of complex carbohydrates,grams of sugars,milligrams of potassium,vitamins and minerals (% of FDA recommendation),Display shelf,Weight in ounces per one serving,Number of cups in one serving,Rating of cereal
0,Apple Cinnamon Cheerios,General Mills,Cold,2,2.0,180.0,1.5,10.5,10.0,70,25.0,1,1.00,0.75,29.509541
1,Basic 4,General Mills,Cold,3,2.0,NaN,2.0,18.0,NaN,100,25.0,3,1.33,0.75,37.038562
2,Cheerios,General Mills,Cold,6,2.0,290.0,2.0,17.0,1.0,105,25.0,1,1.00,1.25,50.764999
3,Cinnamon Toast Crunch,General Mills,Cold,1,3.0,210.0,0.0,13.0,9.0,45,25.0,2,1.00,0.75,19.823573
4,Clusters,General Mills,Cold,3,2.0,140.0,2.0,13.0,7.0,105,25.0,3,1.00,0.50,40.400208

In [12]:
#Check any missing values in x data
X.isna().sum()
#There are missing values that will have to be imputed

name                                               0
Manufacturer                                       0
type                                               9
grams of protein                                   0
grams of fat                                       8
milligrams of sodium                               1
grams of dietary fiber                             0
grams of complex carbohydrates                     0
grams of sugars                                    9
milligrams of potassium                            0
vitamins and minerals (% of FDA recommendation)    1
Display shelf                                      0
Weight in ounces per one serving                   0
Number of cups in one serving                      0
Rating of cereal                                   0
dtype: int64

In [14]:
X.dtypes
#MANY CATEGORICAL VARIABLES IN THE DATA AS seen BELOW WITH OBJECT CATEGORIES/DATA TYPES

name                                                object
Manufacturer                                        object
type                                                object
grams of protein                                     int64
grams of fat                                       float64
milligrams of sodium                               float64
grams of dietary fiber                             float64
grams of complex carbohydrates                     float64
grams of sugars                                    float64
milligrams of potassium                              int64
vitamins and minerals (% of FDA recommendation)    float64
Display shelf                                        int64
Weight in ounces per one serving                   float64
Number of cups in one serving                      float64
Rating of cereal                                   float64
dtype: object

In [15]:
X['name'].value_counts()

Apple Cinnamon Cheerios      1
Strawberry Fruit Wheats      1
Great Grains Pecan           1
Grape-Nuts                   1
Grape Nuts Flakes            1
                            ..
Corn Flakes                  1
Apple Jacks                  1
All-Bran with Extra Fiber    1
All-Bran                     1
Quaker Oatmeal               1
Name: name, Length: 77, dtype: int64

In [18]:
#Unique value of name
X['name'].unique().shape
#There are only 3 ubique values of sex

(77,)

In [20]:
X['Manufacturer'].value_counts()

Kelloggs                       23
General Mills                  22
Post                            9
Quaker Oats                     8
Ralston Purina                  8
Nabisco                         6
American Home Food Products     1
Name: Manufacturer, dtype: int64

In [21]:
X['Manufacturer'].unique().shape

(7,)

In [23]:
X['type'].value_counts()

Cold    65
Hot      3
Name: type, dtype: int64

In [24]:
X['type'].unique().shape

(3,)

**Name, Manufacturer and Type are the objects within the data and are all Nominal Variables **

In [28]:
#HANDLE MISSING VALUES IN THE DATA FRAME (Xand Y)
#Import Machine learning libraries 
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn import set_config
set_config(display='diagram')

In [27]:

# Check missing data
# df.info()
df.isna().sum()

name                                               0
Manufacturer                                       0
type                                               9
calories per serving                               7
grams of protein                                   0
grams of fat                                       8
milligrams of sodium                               1
grams of dietary fiber                             0
grams of complex carbohydrates                     0
grams of sugars                                    9
milligrams of potassium                            0
vitamins and minerals (% of FDA recommendation)    1
Display shelf                                      0
Weight in ounces per one serving                   0
Number of cups in one serving                      0
Rating of cereal                                   0
dtype: int64

In [29]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   name                                             77 non-null     object
 1   Manufacturer                                     77 non-null     object
 2   type                                             68 non-null     object
 3   calories per serving                             70 non-null     float64
 4   grams of protein                                 77 non-null     int64
 5   grams of fat                                     69 non-null     float64
 6   milligrams of sodium                             76 non-null     float64
 7   grams of dietary fiber                           77 non-null     float64
 8   grams of complex carbohydrates                   77 non-null     float64
 9   grams of sugars                                  68 non-null     float64
 10  milligrams of potassium                          77 non-null     int64
 11  vitamins and minerals (% of FDA recommendation)  76 non-null     float64
 12  Display shelf                                    77 non-null     int64
 13  Weight in ounces per one serving                 77 non-null     float64
 14  Number of cups in one serving                    77 non-null     float64
 15  Rating of cereal                                 77 non-null     float64
dtypes: float64(10), int64(3), object(3)
memory usage: 9.8+ KB

In [30]:
print(df.isna().sum().sum(), 'missing values')

35 missing values

There are 35 missing columns across all the columns

In [31]:
#Filters the dataset for just the rows that are missing at least 1 value and shows the shaPE
df[df.isna().any(axis=1)].shape

(26, 16)

In [32]:
#Create Test data and training dataset #using the default 75% train and 25% test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42,)

In [33]:
#SEPERATE COLUMNS THAT HAVE NUMERIC DATA AND TOSE THAT HAVE CATEGORICAL DATA
#instantiate the selectors to for numeric and categorical data types
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')
#select the numeric columns of each type
num_columns = num_selector(X_train)
cat_columns = cat_selector(X_train)
#check our lists
print('numeric columns are', num_columns)
print('categorical columns are', cat_columns)

numeric columns are ['grams of protein', 'grams of fat', 'milligrams of sodium', 'grams of dietary fiber', 'grams of complex carbohydrates', 'grams of sugars', 'milligrams of potassium', 'vitamins and minerals (% of FDA recommendation)', 'Display shelf', 'Weight in ounces per one serving', 'Number of cups in one serving', 'Rating of cereal']
categorical columns are ['name', 'Manufacturer', 'type']

In [34]:
#Explore Numeric columns with missing data
# isolate the numeric columns
df_num = df[num_columns]
# isolate the columns with missing data
df_num.loc[:, df_num.isna().any()]

,grams of fat,milligrams of sodium,grams of sugars,vitamins and minerals (% of FDA recommendation)
0,2.0,180.0,10.0,25.0
1,2.0,NaN,NaN,25.0
2,2.0,290.0,1.0,25.0
3,3.0,210.0,9.0,25.0
4,2.0,140.0,7.0,25.0
...,...,...,...,...
72,NaN,240.0,2.0,25.0
73,1.0,230.0,3.0,25.0
74,1.0,0.0,NaN,25.0
75,0.0,80.0,0.0,0.0
76,2.0,0.0,-1.0,0.0

In [35]:
#Replace mean values with Mean strategy
#Instantiate the imputer object from the SimpleImputer class with strategy 'median'
mean_imputer = SimpleImputer(strategy='mean')
#Fit the imputer object on the numeric training data with .fit() 
#calculates the medians of the columns in the training set
mean_imputer.fit(X_train[num_columns])
#Use the median from the training data to fill the missing values in 
#the numeric columns of both the training and testing sets with .transform()
X_train.loc[:, num_columns] = mean_imputer.transform(X_train[num_columns])
X_test.loc[:, num_columns] = mean_imputer.transform(X_test[num_columns])

In [38]:
#Check if they have been imputed 
X_train.isna().any()
#Numeric columns have no missing values. Only the categorical have missing values

name                                               False
Manufacturer                                       False
type                                                True
grams of protein                                   False
grams of fat                                       False
milligrams of sodium                               False
grams of dietary fiber                             False
grams of complex carbohydrates                     False
grams of sugars                                    False
milligrams of potassium                            False
vitamins and minerals (% of FDA recommendation)    False
Display shelf                                      False
Weight in ounces per one serving                   False
Number of cups in one serving                      False
Rating of cereal                                   False
dtype: bool

In [39]:
#USE COLUMN TRANSFORMER 
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.isna().any()

name                                               False
Manufacturer                                       False
type                                                True
grams of protein                                   False
grams of fat                                        True
milligrams of sodium                                True
grams of dietary fiber                             False
grams of complex carbohydrates                     False
grams of sugars                                     True
milligrams of potassium                            False
vitamins and minerals (% of FDA recommendation)     True
Display shelf                                      False
Weight in ounces per one serving                   False
Number of cups in one serving                      False
Rating of cereal                                   False
dtype: bool

In [40]:
#instantiate the selectors to for numeric and categorical data types
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')

In [41]:
#instantiate SimpleImputers with most_frequent and mean strategies
freq_imputer = SimpleImputer(strategy='most_frequent')
mean_imputer = SimpleImputer(strategy='mean')

In [43]:
from sklearn.compose import make_column_selector, make_column_transformer

In [44]:
# create tuples of (imputer, selector) for each datatype
num_tuple = (mean_imputer, num_selector)
cat_tuple = (freq_imputer, cat_selector)
# instantiate ColumnTransformer
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder='passthrough')
col_transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('simpleimputer-1', SimpleImputer(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fa2d6f29160>),
                                ('simpleimputer-2',
                                 SimpleImputer(strategy='most_frequent'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fa2d6f29c70>)])

In [45]:
# fit ColumnTransformer on the training data
col_transformer.fit(X_train)
# transform both the training and testing data (this will output a NumPy array)
X_train_imputed = col_transformer.transform(X_train)
X_test_imputed = col_transformer.transform(X_test)
# change the result back to a dataframe
X_train_imputed = pd.DataFrame(X_train_imputed, columns=X_train.columns)
X_train_imputed.isna().any()

name                                               False
Manufacturer                                       False
type                                               False
grams of protein                                   False
grams of fat                                       False
milligrams of sodium                               False
grams of dietary fiber                             False
grams of complex carbohydrates                     False
grams of sugars                                    False
milligrams of potassium                            False
vitamins and minerals (% of FDA recommendation)    False
Display shelf                                      False
Weight in ounces per one serving                   False
Number of cups in one serving                      False
Rating of cereal                                   False
dtype: bool

In [46]:
#IMPUTATION COMPLETE
#CREATE PURSE MATRICES FOR NOMINAL CATEGORIES  AND COLUM TRANSFORM USING HOT ECNODER

In [47]:
#Make categorical column selector
cat_selector = make_column_selector(dtype_include='object')

In [49]:
#Find the object datatypes in our data
cat_selector(df)
#Name, Manufacturer and Type

['name', 'Manufacturer', 'type']

In [50]:
#Select only categrical data from the dataset
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data.head()

                  name   Manufacturer  type
30      Frosted Flakes       Kelloggs  Cold
40         Raisin Bran       Kelloggs  Cold
39          Product 19       Kelloggs  Cold
16   Total Raisin Bran  General Mills  Cold
65  Quaker Oat Squares    Quaker Oats  Cold

In [51]:
#Initiate the one hot encoder
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
# We pass values to the above parameters to change the default behaviour of the encorder

In [52]:
#fit the OneHotEncoder on the training data
ohe_encoder.fit(train_cat_data)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(handle_unknown='ignore', sparse=False, sparse_output=False)

In [53]:
#transform both the training and the testing data
train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)

In [54]:
# View the result
test_ohe

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [55]:
#convert to dataframe, extract new column names from encoder
#set prefixes to original column names
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
# The above method will get geature names from the onehotencoded data

# Create a dataframe
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)

train_ohe.head()

,name_100% Natural Bran,name_All-Bran with Extra Fiber,name_Apple Jacks,name_Basic 4,name_Bran Chex,name_Cap'n'Crunch,name_Cheerios,name_Cinnamon Toast Crunch,name_Corn Flakes,name_Corn Pops,...,name_Wheaties Honey Gold,Manufacturer_General Mills,Manufacturer_Kelloggs,Manufacturer_Nabisco,Manufacturer_Post,Manufacturer_Quaker Oats,Manufacturer_Ralston Purina,type_Cold,type_Hot,type_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [56]:
#Concatenate Numerical and Categorical data

In [57]:
# create a numeric selector
num_selector = make_column_selector(dtype_include='number')

In [58]:
# Slice the numeric columns from the train and test set
train_nums = X_train[num_selector(X_train)].reset_index(drop=True)
test_nums = X_test[num_selector(X_test)].reset_index(drop=True)

In [59]:
# Combine the categorical and numerical dataframes
X_train_processed = pd.concat([train_nums, train_ohe], axis=1)
X_test_processed = pd.concat([test_nums, test_ohe], axis=1)
X_train_processed.head()
#This is the resulting Numpy Array after transformation of both categorical data to a sparse matrix and afterwards concatenation

,grams of protein,grams of fat,milligrams of sodium,grams of dietary fiber,grams of complex carbohydrates,grams of sugars,milligrams of potassium,vitamins and minerals (% of FDA recommendation),Display shelf,Weight in ounces per one serving,...,name_Wheaties Honey Gold,Manufacturer_General Mills,Manufacturer_Kelloggs,Manufacturer_Nabisco,Manufacturer_Post,Manufacturer_Quaker Oats,Manufacturer_Ralston Purina,type_Cold,type_Hot,type_nan
0,1,0.0,200.0,1.0,14.0,11.0,25,25.0,1,1.00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,3,1.0,210.0,5.0,14.0,12.0,240,25.0,2,1.33,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,0.0,320.0,1.0,20.0,3.0,45,100.0,3,1.00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,1.0,190.0,4.0,15.0,14.0,230,100.0,3,1.50,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,1.0,135.0,2.0,14.0,6.0,110,25.0,3,1.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [60]:
#This is the resulting Numpy Array after transformation of both categorical data to a sparse matrix and afterwards concatenation

END OF ASSIGNMENT FOR PIPELINES ACTIVITY