<a href="https://colab.research.google.com/github/Stanslusokurut/Sales-Prediction/blob/main/Machine_Learning_Exercise_1_Abalone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Import libraries and load the data
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
# Let us load the data
import pandas as pd

# Edit and place your path here
filename = "/content/drive/MyDrive/Data Science/Datasets/Machine Learning Data/abalone.data"

df = pd.read_csv(filename, header=None)

df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [5]:
#Rename colum names 
#The column numbers are not supposed to be in parentheses for the code to work
df.rename(columns= {0: 'Sex', 1: 'Length', 2: 'Diameter', 3: 'Height',4: 'Whole weight', 5: 'Shucked weight',
                    6: 'Viscera weight', 7: 'Shell weight', 8: 'Rings'}, inplace = True)

In [6]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [7]:
#Create the Y variable (Target Matrix)
y = df['Rings']
#Create te Features Matrix
X = df.drop(columns ='Rings')

In [8]:
y.head()

0    15
1     7
2     9
3    10
4     7
Name: Rings, dtype: int64

In [9]:
X.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055

In [18]:
#Create Test data and training dataset #using the default 75% train and 25% test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42,)

In [10]:
#Check any missing values in x data
X.isna().sum()
# No missing values in our dataset

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
dtype: int64

In [11]:
X.dtypes
#Only one categorical variable in teh dataset (sex).

Sex                object
Length            float64
Diameter          float64
Height            float64
Whole weight      float64
Shucked weight    float64
Viscera weight    float64
Shell weight      float64
dtype: object

In [ ]:
#ORGANISE ORDINAL & NOMINAL  VARIABLES

In [ ]:
#Sex is the only nominal variable in the dataset and there is need for hot encodin of the same

In [13]:
X['Sex'].value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64

In [ ]:
#There is an unfamilar sex category I

In [14]:
#Import Machine learning libraries 
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [15]:
#Make categorical column selector
cat_selector = make_column_selector(dtype_include='object')

In [16]:
#Find the object datatypes in our data
cat_selector(df)
#Sex is the object variable in the dataset

['Sex']

In [19]:
#Select only categrical data from the dataset
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data.head()

     Sex
3823   F
3956   F
3623   M
0      M
2183   M

In [21]:
#Unique value of sex
train_cat_data['Sex'].unique().shape
#There are only 3 ubique values of sex

(3,)

In [22]:
#Initiate the one hot encoder
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
# We pass values to the above parameters to change the default behaviour of the encorder

In [23]:
#fit the OneHotEncoder on the training data
ohe_encoder.fit(train_cat_data)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(handle_unknown='ignore', sparse=False, sparse_output=False)

In [24]:
#transform both the training and the testing data
train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)

In [25]:
# View the result
test_ohe

array([[0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [26]:
#convert to dataframe, extract new column names from encoder
#set prefixes to original column names
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
# The above method will get geature names from the onehotencoded data

# Create a dataframe
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)

train_ohe.head()

   Sex_F  Sex_I  Sex_M
0    1.0    0.0    0.0
1    1.0    0.0    0.0
2    0.0    0.0    1.0
3    0.0    0.0    1.0
4    0.0    0.0    1.0

In [ ]:
#Concatenate Numerical and Categorical data

In [27]:
# create a numeric selector
num_selector = make_column_selector(dtype_include='number')

In [28]:
# Slice the numeric columns from the train and test set
train_nums = X_train[num_selector(X_train)].reset_index(drop=True)
test_nums = X_test[num_selector(X_test)].reset_index(drop=True)

In [29]:
# Combine the categorical and numerical dataframes
X_train_processed = pd.concat([train_nums, train_ohe], axis=1)
X_test_processed = pd.concat([test_nums, test_ohe], axis=1)
X_train_processed.head()
#This is the resulting Numpy Array after transformation of both categorical data to a sparse matrix and afterwards concatenation

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
0,0.615,0.455,0.135,1.0590,0.4735,0.2630,0.274,1.0,0.0,0.0
1,0.515,0.395,0.140,0.6860,0.2810,0.1255,0.220,1.0,0.0,0.0
2,0.660,0.530,0.175,1.5830,0.7395,0.3505,0.405,0.0,0.0,1.0
3,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,0.0,0.0,1.0
4,0.495,0.400,0.155,0.8085,0.2345,0.1155,0.350,0.0,0.0,1.0

In [ ]:
#This is the resulting Numpy Array after transformation of both categorical data to a sparse matrix and afterwards concatenation

END OF ASSIGNMENT OF ABALONE DATA