<a href="https://colab.research.google.com/github/Stanslusokurut/Sales-Prediction/blob/main/Regression_Metrics_core_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
# Load the data
import pandas as pd
filename = "/content/drive/MyDrive/Data Science/Datasets/Machine Learning Data/Boston_Housing_from_Sklearn.csv"
df = pd.read_csv(filename)

In [3]:
#Explore the Data
df.head()

      CRIM    NOX     RM   AGE  PTRATIO  LSTAT  PRICE
0  0.00632  0.538  6.575  65.2     15.3   4.98   24.0
1  0.02731  0.469  6.421  78.9     17.8   9.14   21.6
2  0.02729  0.469  7.185  61.1     17.8   4.03   34.7
3  0.03237  0.458  6.998  45.8     18.7   2.94   33.4
4  0.06905  0.458  7.147  54.2     18.7   5.33   36.2

In [5]:
df.isna().sum()
# No Missing data

CRIM       0
NOX        0
RM         0
AGE        0
PTRATIO    0
LSTAT      0
PRICE      0
dtype: int64

In [7]:
#Correlate the Variables
df.corr()

             CRIM       NOX        RM       AGE   PTRATIO     LSTAT     PRICE
CRIM     1.000000  0.420972  0.219247  0.352734  0.289946  0.455621  0.388305
NOX      0.420972  1.000000  0.302188  0.731470  0.188933  0.590879  0.427321
RM       0.219247  0.302188  1.000000  0.240265  0.355501  0.613808  0.695360
AGE      0.352734  0.731470  0.240265  1.000000  0.261515  0.602339  0.376955
PTRATIO  0.289946  0.188933  0.355501  0.261515  1.000000  0.374044  0.507787
LSTAT    0.455621  0.590879  0.613808  0.602339  0.374044  1.000000  0.737663
PRICE    0.388305  0.427321  0.695360  0.376955  0.507787  0.737663  1.000000

In [ ]:
#Vriables with correlation above 0.5 are the below 
#NOX, RM, AGE, PTRATIO, LSTAT, price
#In essence only drop  CRIM

In [16]:
#drop df from the DF
df = df.drop(columns = 'CRIM')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NOX      506 non-null    float64
 1   RM       506 non-null    float64
 2   AGE      506 non-null    float64
 3   PTRATIO  506 non-null    float64
 4   LSTAT    506 non-null    float64
 5   PRICE    506 non-null    float64
dtypes: float64(6)
memory usage: 23.8 KB

STATE THE ML PROBLEM
ASSIGN Y and X Variable

In [19]:
y = df['PRICE']
X = df.drop(columns = 'PRICE')

TRAIN TEST SPLIT THE DATA

In [17]:
# Let us import the train_test_split method here
from sklearn.model_selection import train_test_split

In [20]:
# Let us use the dataframe from above
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

PREPROCESS THE DATA & TRANSFORM

In [21]:
# Import functions
from sklearn.preprocessing import StandardScaler
# Instantiate scaler object
scaler = StandardScaler()

In [22]:
# Instantiate a LR model object
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [23]:
# Create a pipeline
from sklearn.pipeline import make_pipeline
reg_pipe = make_pipeline(scaler, reg)

In [24]:
# Training the model
reg_pipe.fit(X_train,y_train)
# In Sklearn, the fit method instantiates the training of the model.

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [25]:
# Making predictions on the test set.
# Notice how we only pass the features
predictions = reg_pipe.predict(X_test)

In [26]:
# view predictions
predictions

array([27.62203202, 30.42220892, 16.96018919, 24.04094326, 18.01598049,
       23.46052214, 17.91186881, 12.96375382, 21.29954237, 19.77856426,
       20.41092228, 22.13518496, -1.62125606, 22.40520316, 19.84618615,
       24.34528473, 17.74041473,  3.81170017, 38.89173863, 17.19011131,
       24.71825193, 26.93568581, 12.44341997, 23.30507747, 17.69350485,
       14.30539344, 22.19074804, 19.2054089 , 19.14445455, 18.5738208 ,
       20.48345528, 25.21752918, 25.39816856, 17.7712967 , 15.02492975,
       20.48183088, 32.62413223, 20.25708214, 20.2071388 , 23.61190682,
       12.56545417, 28.69718727, 39.43667429, 18.49135595, 26.26454444,
       15.64954461, 14.96076073, 24.90664365, 18.50318345, 31.24221666,
       24.36342693, 33.33592646, 16.6709636 , 25.81471477, 37.94648944,
       21.62180476, 18.15948904, 29.62410855, 24.70227987, 16.01564004,
       25.25159825, 31.56018116, 28.86223706, 16.08927771, 28.0803592 ,
       13.057339  , 19.22424271, 25.24594518, 28.34305867, 15.38045687,
       19.32289637, 26.30159874, 12.06560489, 21.24244225, 22.98726394,
        6.50543623, 20.75222336, 38.08507706, 17.32235735, 10.79216262,
       22.29376621, 10.23479628, 23.9093844 ,  7.39986779, 22.58682362,
       28.41540447, 20.3312161 , 25.45174655, 25.54667174, 20.12765334,
       24.06319996,  7.93911486, 20.91346295, 20.51115445, 11.35992731,
       21.81401264, 22.97308773,  0.97082356, 18.19990405, 18.18688146,
       20.95395484, 24.43221752,  9.57558356, 20.34860015, 24.89577078,
       13.86145684, 18.5586942 , 25.39449406, 21.75236233, 27.91079354,
       11.94471173, 19.94700423, 23.88239219, 24.51436761, 31.85331974,
       18.95927281, 33.73375008, 15.317466  , 18.93265592, 28.02964569,
       19.71758962, 25.90126293, 14.87432719, 23.72070354, 25.28913804,
       23.0747461 , 27.28735312])

In [27]:
# This can be viwed better if placed in a dataframe
prediction_df = X_test.copy()
prediction_df['True Price'] = y_test
prediction_df['Predicted Price'] = predictions
prediction_df['Error'] = predictions - y_test
prediction_df.head()

       NOX     RM   AGE  PTRATIO  LSTAT  True Price  Predicted Price     Error
173  0.510  6.416  84.1     16.6   9.04        23.6        27.622032  4.022032
274  0.447  6.758  32.9     17.6   3.53        32.4        30.422209 -1.977791
491  0.609  5.983  98.8     20.1  18.07        13.6        16.960189  3.360189
72   0.413  6.065   7.8     19.2   5.52        22.8        24.040943  1.240943
452  0.713  6.297  91.8     20.2  17.27        16.1        18.015980  1.915980

EVALUATE THE MODEL

In [28]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [29]:
# Get predictions on the train and test sets
train_preds = reg_pipe.predict(X_train)
test_preds = reg_pipe.predict(X_test)

In [30]:
# MAE
train_MAE = mean_absolute_error(y_train, train_preds)
test_MAE = mean_absolute_error(y_test, test_preds)
print(f'Train MAE: {train_MAE}')
print(f'Test MAE: {test_MAE}')

Train MAE: 3.721054805935345
Test MAE: 3.3175095501414624

In [32]:
# MSE
train_MSE = mean_squared_error(y_train, train_preds)
test_MSE = mean_squared_error(y_test, test_preds)
print(f'Train MSE: {train_MSE}')
print(f'Test MSE: {test_MSE}')

Train MSE: 27.379681500970875
Test MSE: 24.960632212523954

In [33]:
# R2
train_r2 = r2_score(y_train, train_preds)
test_r2 = r2_score(y_test, test_preds)
print(f'Train R2: {train_r2}')
print(f'Test R2: {test_r2}')

Train R2: 0.6912590561121823
Test R2: 0.643557756178796