<a href="https://colab.research.google.com/github/Stanslusokurut/Sales-Prediction/blob/main/Stanslus_Project_1_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Mount Google Drive 
filename = "/content/drive/MyDrive/Data Science/Datasets/sales_predictions.csv"
import pandas as pd

In [2]:
#Create variable name 
sales_predict = pd.read_csv(filename)

In [3]:
#Number of rows and colums
sales_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

There are a total of 12 columns in the data

In [4]:
#Number of rows
print(len(sales_predict))

8523

There are 8523 rows in the data

In [5]:
#alternatively use .head to obtain information on rows
sales_predict.head(-5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8513,FDH31,12.00,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8515,FDH24,20.70,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.60,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8517,FDF53,20.75,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360

In [6]:
#Duplicates in the data
sales_predict.duplicated().sum()

0

In [7]:
#There are no duplicate rows in the data

In [8]:
#if Duplicates were present youw would use teh below code to drop them
#sales_predict = sales_predict.drop_duplicates() 
#and recheck the numbe rof duplicates still present
#sales_predict.duplicated().sum()
#for unique values use 
#sales_predict.nunique()

In [9]:
#Missing Values 
sales_predict.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [16]:
#Item weight and outlet size have alot of misssing values 
#As the weights and oulet size maybe specific, it maybe difficult replacing it with means or modes
#Any replacment could have benefited from further information from the people that collected data.

#For this particualr exercise, i have chosen to drop the two variables

In [ ]:
#Drop the variables with missing values 
sales_predict = sales_predict.drop(columns='Item_Weight')

In [ ]:
sales_predict = sales_predict.drop(columns='Outlet_Size')

In [ ]:
#Confirm that there are no missing values
sales_predict.isna().sum()

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
#Check the data types
sales_predict.dtypes

Item_Identifier               object
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
#Check the number of unique values of each variable s
sales_predict.nunique()

Item_Identifier              1559
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [ ]:
#Check Item types using value counts before any corrections are made to them
#SALES PREDICT
sales_predict['Item_Identifier'].value_counts()
#Identifiers are strings#Change values to integers
sales_predict['Item_Identifier'] = sales_predict['Item_Identifier'].astype(str)

In [ ]:
#FAT CONTENT
sales_predict['Item_Fat_Content'].value_counts()
#Item fat content are strings
sales_predict['Item_Fat_Content'] = sales_predict['Item_Fat_Content'].astype(str)

In [ ]:
#ITEM VISIBILITY
sales_predict['Item_Visibility'].value_counts()
#Item visibility are floats
sales_predict['Item_Visibility'] = sales_predict['Item_Visibility'].astype(float)

In [ ]:

#ITEM TYPE
sales_predict['Item_Type'].value_counts()
#Item types are strings 
sales_predict['Item_Type'] = sales_predict['Item_Type'].astype(str)

In [ ]:
#ITEM MRP
sales_predict['Item_MRP'].value_counts()
#Item MRP are Floats 
sales_predict['Item_MRP'] = sales_predict['Item_MRP'].astype(float)

In [ ]:
#OUTLET IDENTIFIER 
sales_predict['Outlet_Identifier'].value_counts()
#Outlet indentifiers are strings 
sales_predict['Outlet_Identifier'] = sales_predict['Outlet_Identifier'].astype(str)

In [ ]:
#OUTLET IDENTIFIER
sales_predict['Outlet_Establishment_Year'].value_counts()
#Establishment years are integers # 
sales_predict['Outlet_Establishment_Year'] = sales_predict['Outlet_Establishment_Year'].astype(int)

In [ ]:
#OUTLET LOCATION NAME
sales_predict['Outlet_Location_Type'].value_counts()
#Outlet locations Typeas are  strings 
sales_predict['Outlet_Location_Type'] = sales_predict['Outlet_Location_Type'].astype(str)

In [ ]:
#OUTLET TYPES
sales_predict['Outlet_Type'].value_counts()
#Outlet types are strings 
sales_predict['Outlet_Type'] = sales_predict['Outlet_Type'].astype(str)

In [ ]:
#ITEM OUTLET SALES 
sales_predict['Item_Outlet_Sales'].value_counts()
#Outlet types are INTEGERS 
sales_predict['Item_Outlet_Sales'] = sales_predict['Item_Outlet_Sales'].astype(int)

***ANALYSE THE SUMMARIES OF THE NUMERICAL VARIABLES

In [ ]:
sales_predict.describe().round(2)

       Item_Visibility  Item_MRP  Outlet_Establishment_Year  Item_Outlet_Sales
count          8523.00   8523.00                    8523.00            8523.00
mean              0.07    140.99                    1997.83            2180.79
std               0.05     62.28                       8.37            1706.50
min               0.00     31.29                    1985.00              33.00
25%               0.03     93.83                    1987.00             833.50
50%               0.05    143.01                    1999.00            1794.00
75%               0.09    185.64                    2004.00            3101.00
max               0.33    266.89                    2009.00           13086.00