<a href="https://colab.research.google.com/github/Stanslusokurut/Sales-Prediction/blob/main/Stanslus_Project_1_Part_5_Sales_Prediction_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Import libraries and load the data
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
# Let us load the data
import pandas as pd

# Edit and place your path here
filename = filename = '/content/drive/MyDrive/Data Science/Datasets/sales_predictions.csv'
#File has headers
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
#Create the Y variable (Target Matrix)
y = df['Item_Outlet_Sales']
#Create te Features Matrix
X = df.drop(columns ='Item_Outlet_Sales')

In [8]:
#Create Test data and training dataset #using the default 75% train and 25% test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42,)

In [9]:
#TRAIN SPLIT IN ADVANCE OF IMPUTING ANY MISSING VALUES

In [10]:
y.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [11]:
X.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1

In [12]:
#Check any missing values in x data
X.isna().sum()
#There are missing values that will have to be imputed

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [14]:
X.dtypes
#MANY CATEGORICAL VARIABLES IN THE DATA AS seen BELOW WITH OBJECT CATEGORIES/DATA TYPES

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [13]:
#Item weight and Outlet size have missing values that need to be imputed

Item weight and Outlet size have many values to be imputed **

In [15]:
#HANDLE MISSING VALUES IN THE DATA FRAME (Xand Y)
#Import Machine learning libraries 
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn import set_config
set_config(display='diagram')

In [16]:

# Check missing data
# df.info()
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [20]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [18]:
print(df.isna().sum().sum(), 'missing values')

3873 missing values

In [19]:
#There are 3873 missing values in teh entire dataset

There are 35 missing columns across all the columns

In [21]:
#Filters the dataset for just the rows that are missing at least 1 value and shows the shaPE
df[df.isna().any(axis=1)].shape

(3873, 12)

In [ ]:
#Create Test data and training dataset #using the default 75% train and 25% test data
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42,)
#This has bee dne earlier no need to repeat

In [ ]:
#This is a lot of data all these should not be dropped

In [22]:
#SEPERATE COLUMNS THAT HAVE NUMERIC DATA AND TOSE THAT HAVE CATEGORICAL DATA
#instantiate the selectors to for numeric and categorical data types
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')
#select the numeric columns of each type
num_columns = num_selector(X_train)
cat_columns = cat_selector(X_train)
#check our lists
print('numeric columns are', num_columns)
print('categorical columns are', cat_columns)

numeric columns are ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year']
categorical columns are ['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [23]:
#Explore Numeric columns with missing data
# isolate the numeric columns
df_num = df[num_columns]
# isolate the columns with missing data
df_num.loc[:, df_num.isna().any()]

      Item_Weight
0           9.300
1           5.920
2          17.500
3          19.200
4           8.930
...           ...
8518        6.865
8519        8.380
8520       10.600
8521        7.210
8522       14.800

[8523 rows x 1 columns]

In [24]:
#Replace mean values with Mean strategy
#Instantiate the imputer object from the SimpleImputer class with strategy 'median'
mean_imputer = SimpleImputer(strategy='mean')
#Fit the imputer object on the numeric training data with .fit() 
#calculates the medians of the columns in the training set
mean_imputer.fit(X_train[num_columns])
#Use the median from the training data to fill the missing values in 
#the numeric columns of both the training and testing sets with .transform()
X_train.loc[:, num_columns] = mean_imputer.transform(X_train[num_columns])
X_test.loc[:, num_columns] = mean_imputer.transform(X_test[num_columns])

In [25]:
#Check if they have been imputed 
X_train.isna().any()
#Numeric columns have no missing values. Only the categorical have missing values

Item_Identifier              False
Item_Weight                  False
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
dtype: bool

In [26]:
#USE COLUMN TRANSFORMER 
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.isna().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
dtype: bool

In [27]:
#instantiate the selectors to for numeric and categorical data types
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')

In [28]:
#instantiate SimpleImputers with most_frequent and mean strategies
freq_imputer = SimpleImputer(strategy='most_frequent')
mean_imputer = SimpleImputer(strategy='mean')

In [29]:
from sklearn.compose import make_column_selector, make_column_transformer

In [30]:
# create tuples of (imputer, selector) for each datatype
num_tuple = (mean_imputer, num_selector)
cat_tuple = (freq_imputer, cat_selector)
# instantiate ColumnTransformer
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder='passthrough')
col_transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('simpleimputer-1', SimpleImputer(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fee9c888520>),
                                ('simpleimputer-2',
                                 SimpleImputer(strategy='most_frequent'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fee9c8882e0>)])

In [ ]:
# fit ColumnTransformer on the training data
col_transformer.fit(X_train)
# transform both the training and testing data (this will output a NumPy array)
X_train_imputed = col_transformer.transform(X_train)
X_test_imputed = col_transformer.transform(X_test)
# change the result back to a dataframe
X_train_imputed = pd.DataFrame(X_train_imputed, columns=X_train.columns)
X_train_imputed.isna().any()
#No missing values in dataset

In [ ]:
#CHECK IF THERE ARE CERTAIN ORDINAL VALUES IN THE DATASET AND CHANGE THESE BEFORE USING UNIQUE COUNT

In [33]:
print('categorical columns are', cat_columns)

categorical columns are ['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [36]:
#df['Complication_risk'].value_counts()
X['Item_Identifier'].unique().shape

(1559,)

In [37]:
X['Item_Fat_Content'].unique().shape

(5,)

In [39]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [40]:
#Some Values are also repeated and need to clean up

In [63]:
# Create a dictionary that we can use to make the changes
Fat_Cont = {'Low Fat': 0, 'Regular': 1, 'LF': 0, 'reg': 1,'reg': 1, 'low fat': 0 }

In [64]:
X_train['Item_Fat_Content'] = X_train['Item_Fat_Content'].replace(Fat_Cont )
X_test['Item_Fat_Content'] = X_test['Item_Fat_Content'] .replace(Fat_Cont )

In [54]:
X_train['Item_Fat_Content'].value_counts()

0    4129
1    2263
Name: Item_Fat_Content, dtype: int64

In [55]:
X_test['Item_Fat_Content'].value_counts()

0    1388
1     743
Name: Item_Fat_Content, dtype: int64

In [ ]:
#Fat Content has ordinally been sorted out and cleaned

In [56]:
#CHECK IF OTHER ORDINAL VARIABLES 
print('categorical columns are', cat_columns)

categorical columns are ['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [58]:
df['Item_Type'].value_counts() 
#Item types have no natural ordering and cannot be ordinal categories

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [59]:
df['Outlet_Identifier'].value_counts() 
#No Natural ordering and thus not ordinal

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [61]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [67]:
#Natural Ordering: So Convert to Ordered Category
# Create a dictionary that we can use to make the changes
Size = {'Small': 1, 'Medium': 2, 'High': 3 }

In [68]:
X_train['Outlet_Size'] = X_train['Outlet_Size'].replace(Size)
X_test['Outlet_Size'] = X_test['Outlet_Size'] .replace(Size)

In [70]:
X_train['Outlet_Size'].value_counts() 
#Ordinarly Sorted Out and cleared

2.0    2103
1.0    1788
3.0     689
Name: Outlet_Size, dtype: int64

In [71]:
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [73]:
#Natural Ordering: So Convert to Ordered Category TIER LEVELS
# Create a dictionary that we can use to make the changes
Tier = {'Tier 1': 1, 'Tier 2': 2, 'Tier 3': 3 }

In [74]:
X_train['Outlet_Location_Type'] = X_train['Outlet_Location_Type'].replace(Tier)
X_test['Outlet_Location_Type'] = X_test['Outlet_Location_Type'] .replace(Tier)

In [75]:
X_train['Outlet_Location_Type'].value_counts() 
#Ordinarly Sorted Out and cleared

3    2531
2    2106
1    1755
Name: Outlet_Location_Type, dtype: int64

In [76]:
df['Outlet_Type'].value_counts() 
#No Natural Order and thus manatined as Categoricals

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [32]:
#CLEANING COMPLETE
#CREATE PURSE MATRICES FOR NOMINAL CATEGORIES  AND COLUM TRANSFORM USING HOT ECNODER

In [77]:
#Make categorical column selector
cat_selector = make_column_selector(dtype_include='object')

In [78]:
#Find the object datatypes in our data
cat_selector(df)
#Name, Manufacturer and Type

['Item_Identifier',
 'Item_Fat_Content',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

In [79]:
#Select only categrical data from the dataset
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data.head()

     Item_Identifier     Item_Type Outlet_Identifier        Outlet_Type
4776           NCG06     Household            OUT018  Supermarket Type2
7510           FDV57   Snack Foods            OUT018  Supermarket Type2
5828           FDM27          Meat            OUT049  Supermarket Type1
5327           FDG24  Baking Goods            OUT035  Supermarket Type1
4810           FDD05  Frozen Foods            OUT045  Supermarket Type1

In [80]:
#Initiate the one hot encoder
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
# We pass values to the above parameters to change the default behaviour of the encorder

In [81]:
#fit the OneHotEncoder on the training data
ohe_encoder.fit(train_cat_data)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(handle_unknown='ignore', sparse=False, sparse_output=False)

In [82]:
#transform both the training and the testing data
train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)

In [83]:
# View the result
test_ohe

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [84]:
#convert to dataframe, extract new column names from encoder
#set prefixes to original column names
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
# The above method will get geature names from the onehotencoded data

# Create a dataframe
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)

train_ohe.head()

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [86]:
# create a numeric selector
num_selector = make_column_selector(dtype_include='number')

In [87]:
# Slice the numeric columns from the train and test set
train_nums = X_train[num_selector(X_train)].reset_index(drop=True)
test_nums = X_test[num_selector(X_test)].reset_index(drop=True)

In [89]:
#Concatenate Numerical and Categorical data
# Combine the categorical and numerical dataframes
X_train_processed = pd.concat([train_nums, train_ohe], axis=1)
X_test_processed = pd.concat([test_nums, test_ohe], axis=1)
X_train_processed.head()
#This is the resulting Numpy Array after transformation of both categorical data to a sparse matrix and afterwards concatenation

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,...,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,16.350,0,0.029565,256.4646,2009,2.0,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,15.250,1,0.000000,179.7660,2009,2.0,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,12.350,1,0.158716,157.2946,1999,2.0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,7.975,0,0.014628,82.3250,2004,1.0,2,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,19.350,0,0.016645,120.9098,2002,NaN,2,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [91]:
#This is the resulting Numpy Array after transformation of both categorical data to a sparse matrix and afterwards concatenation

END OF ASSIGNMENT FOR SALES PREDICTION ML DATA PREP