<a href="https://colab.research.google.com/github/Stanslusokurut/Sales-Prediction/blob/main/Stanslus_Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Import libraries 
import pandas as pd
# Edit and place your path here
filename = filename = '/content/drive/MyDrive/Data Science/Datasets/Machine Learning Data/Food Security Nationals.xlsx'
#File has headers
df = pd.read_excel(filename)
df.head()

,a_date,a_state,a_county,a_payam,a_context,a_poptype,a_camp,a_camp_oth,a_activity,a_interview_mode,...,total_fexcari,fexcari,expgroup,stress,crisis,emergency,caricop,fcsgtoCarig,fs,_index
0,2022-06-09,Unity,Rubkona,Bentiu Town,Community village (host/IDPs),NaN,Bentiu town,NaN,GFD activities,NaN,...,68300.0,60.0,2,0,0,1,3.0,1,2.00,1
1,2022-06-09,Unity,Rubkona,Bentiu Town,Community village (host/IDPs),NaN,Bentiu town,NaN,GFD activities,NaN,...,26900.0,89.0,4,0,0,1,4.0,4,4.00,2
2,2022-06-09,Unity,Rubkona,Bentiu Town,Community village (host/IDPs),NaN,Rubkona town,NaN,GFD activities,NaN,...,53500.0,79.0,4,0,0,1,4.0,1,2.50,3
3,2022-06-09,Unity,Rubkona,Bentiu Town,Community village (host/IDPs),NaN,Bentiu town,NaN,GFD activities,NaN,...,31600.0,69.0,3,0,0,1,3.5,3,3.25,4
4,2022-06-10,Lakes,Awerial,Puluk,Community village (host/IDPs),NaN,Mingkaman,NaN,GFD activities,NaN,...,84000.0,43.0,1,0,0,0,1.0,4,2.50,5

Source of Data

In [ ]:
#The source of data is the WFP internal distribution monitoring thar collected data in december 2022 from households across the country

Brief Description of the Data

In [ ]:
#The data contains household characteristics, socio economic indicators, production and consumption characteristics and the food consumption  outcome [Food consumption score]

Target

In [4]:
#The target is teh food consumption group fcsg (Poor, borderline or acceptable )
df['fcsg'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3186 entries, 0 to 3185
Series name: fcsg
Non-Null Count  Dtype
--------------  -----
3186 non-null   object
dtypes: object(1)
memory usage: 25.0+ KB

In [5]:
df['fcsg'].value_counts()

Borderline    1189
Poor          1123
Acceptable     874
Name: fcsg, dtype: int64

In [ ]:
#Based on the target variable [Categorical], this is a classification problem

Is this a classification or regression problem?

In [ ]:
#The actual/final features to use in the model will be determined after the initial cleaning and data preparation process

 How many rows of data.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3186 entries, 0 to 3185
Columns: 1454 entries, a_date to _index
dtypes: datetime64[ns](2), float64(243), int64(732), object(477)
memory usage: 35.3+ MB

In [ ]:
#The dataset has 3186 entries or rows

What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

In [ ]:
#There are very many variables and to get the most fit to use will be a challenge. But based on theory it will help to figure out anz zero down om the actual features 
#Data preparation will be cumbersome but

## **DATASET 2 [FOOD SECURITY REFUGEES]**

In [9]:
filename1 = filename = '/content/drive/MyDrive/Data Science/Datasets/Machine Learning Data/Food Security Refugees.xlsx'
#File has headers
df1 = pd.read_excel(filename1)
df1.head()

,a_date,a_state,a_county,a_payam,a_suboffice,a_poptype,a_camp,a_activity,respdnt_sex,respdnt_age,...,total_fexcari,fexcari,expgroup,stress,crisis,emergency,caricop,fcsgtoCarig,fs,_index
0,2023-01-12,Upper Nile,Maban,Khor El Amer,Maban,1,Doro Refugee Camp (Maban),GFD activities,Female,28,...,460500,1.0,1,1,0,0,1.5,1,1.25,1
1,2023-01-12,Upper Nile,Maban,Khor El Amer,Maban,1,Doro Refugee Camp (Maban),GFD activities,Male,28,...,21500,47.0,1,0,0,0,1.0,4,2.50,2
2,2023-01-12,Upper Nile,Maban,Khor El Amer,Maban,1,Doro Refugee Camp (Maban),GFD activities,Female,26,...,66500,60.0,2,1,1,0,2.5,4,3.25,3
3,2023-01-12,Upper Nile,Maban,Khor El Amer,Maban,1,Doro Refugee Camp (Maban),GFD activities,Male,48,...,17008,0.0,1,0,0,0,1.0,3,2.00,4
4,2023-01-12,Upper Nile,Maban,Khor El Amer,Maban,1,Doro Refugee Camp (Maban),GFD activities,Male,55,...,6500,46.0,1,0,1,0,2.0,3,2.50,5

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Columns: 950 entries, a_date to _index
dtypes: datetime64[ns](1), float64(184), int64(495), object(270)
memory usage: 9.4+ MB

In [ ]:
#The descripion and targets and challenges relate to that of the above dataset
#The only difference is that information was colelcted from refugees and the rows and colums=ns differ. The targets is however the same as shown below

In [11]:
df1['fcsg'].value_counts()

Poor          518
Borderline    467
Acceptable    314
Name: fcsg, dtype: int64