<a href="https://colab.research.google.com/github/Stanslusokurut/Sales-Prediction/blob/main/Week_6_Practice_Exercise_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Import libraries and load the data
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# Let us load the data
import pandas as pd

# Edit and place your path here
filename = filename = '/content/drive/MyDrive/Data Science/Datasets/insurance.csv'
#File has headers
df = pd.read_csv(filename)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
#Create the Y variable (Target Matrix) - Charges 
y = df['charges']
#Create te Features Matrix - Drop and keep all  the other variables 
X = df.drop(columns ='charges')

In [5]:
#Create Test data and training dataset #using the default 75% train and 25% test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42,)

In [ ]:
#TRAIN SPLIT IN ADVANCE OF IMPUTING ANY MISSING VALUES

In [6]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [7]:
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [8]:
#Check any missing values in x data
X.isna().sum()
#There are no missing values. So no need for imputation.

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

In [9]:
X.dtypes
#MANY CATEGORICAL VARIABLES IN THE DATA AS seen BELOW WITH OBJECT CATEGORIES/DATA TYPES

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
dtype: object

In [10]:

#Import Machine learning libraries 
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn import set_config
set_config(display='diagram')

In [11]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [15]:
print(df.isna().sum().sum(), 'missing values') 
#No Missing values

0 missing values

There are 35 missing columns across all the columns

In [13]:
#USE COLUMN TRANSFORMER to handled and manage the different data categories 
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.isna().any()

age         False
sex         False
bmi         False
children    False
smoker      False
region      False
dtype: bool

In [14]:
#instantiate the selectors to for numeric and categorical data types
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')

In [16]:
from sklearn.compose import make_column_selector, make_column_transformer

In [ ]:
#CHECK IF THERE ARE CERTAIN ORDINAL VALUES IN THE DATASET AND CHANGE THESE BEFORE USING UNIQUE COUNT

In [18]:
#df['Complication_risk'].value_counts()
X['sex'].unique().shape

(2,)

In [19]:
X['smoker'].unique().shape

(2,)

In [20]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [ ]:
# No need for further data cleaning. ALL VARIABLES IN GOOD SHAPE

In [ ]:
#CLEANING COMPLETE
#CREATE PURSE MATRICES FOR NOMINAL CATEGORIES  AND COLUMN TRANSFORM USING HOT ECNODER

In [21]:
#Make categorical column selector
cat_selector = make_column_selector(dtype_include='object')

In [22]:
#Find the object datatypes in our data
cat_selector(df)
#Name, Manufacturer and Type

['sex', 'smoker', 'region']

In [23]:
#Select only categorical data from the dataset
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data.head()

         sex smoker     region
693     male     no  northwest
1297  female     no  southeast
634     male     no  southwest
1022    male    yes  southeast
178   female     no  southwest

In [24]:
#Initiate the one hot encoder
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
# We pass values to the above parameters to change the default behaviour of the encorder

In [25]:
#fit the OneHotEncoder on the training data
ohe_encoder.fit(train_cat_data)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(handle_unknown='ignore', sparse=False, sparse_output=False)

In [41]:
#transform both the training and the testing data
train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)

In [42]:
# View the result
test_ohe

array([[1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.]])

In [28]:
#convert to dataframe, extract new column names from encoder
#set prefixes to original column names
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
# The above method will get geature names from the onehotencoded data

# Create a dataframe
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)

train_ohe.head()

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [29]:
# create a numeric selector
num_selector = make_column_selector(dtype_include='number')

In [30]:
# Slice the numeric columns from the train and test set
train_nums = X_train[num_selector(X_train)].reset_index(drop=True)
test_nums = X_test[num_selector(X_test)].reset_index(drop=True)

In [31]:
#Concatenate Numerical and Categorical data
# Combine the categorical and numerical dataframes
X_train_processed = pd.concat([train_nums, train_ohe], axis=1)
X_test_processed = pd.concat([test_nums, test_ohe], axis=1)
X_train_processed.head()
#This is the resulting Numpy Array after transformation of both categorical data to a sparse matrix and afterwards concatenation

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,24,23.655,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,28,26.510,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,51,39.700,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,47,36.080,1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,46,28.900,2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [35]:
## Import functions
from sklearn.preprocessing import StandardScaler
# Instantiate scaler object
scaler = StandardScaler()

In [33]:
# Instantiate a LR model object
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [36]:
# Create a pipeline
from sklearn.pipeline import make_pipeline
reg_pipe = make_pipeline(scaler, reg)
# You can see that we can also add models to the pipeline

In [37]:
reg_pipe

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [43]:
# Train the model
reg_pipe.fit(X_train_processed,y_train)
# In Sklearn, the fit method instantiates the training of the model.

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [45]:
# Making predictions on the test set.
# Notice how we only pass the features
predictions = reg_pipe.predict(X_test_processed)

In [46]:
predictions

array([ 8952.20855705,  7053.79716786, 36888.36911226,  9522.49758674,
       26961.84638217, 10878.24576086,    89.95864742, 17048.24399155,
        1006.23867932, 11302.09430243, 28036.76259   ,  9444.23207397,
        5090.59852807, 38369.13934993, 40238.44085051, 37043.52510441,
       15157.6217689 , 35786.45033246,  8980.90054273, 31436.27281745,
        3791.34836424, 10141.36936164,  2309.82565378,  7099.20715474,
       11322.40664032, 12986.05256732, 14505.85582873,  6125.81855012,
        9955.67799246,  2040.75103594,  9048.52487793, 13119.24154371,
        4381.27730454,  3353.72687497,  4417.77179571, 13116.17314322,
        1850.73309103,  8751.77062758, 33263.22537744, 32490.29160162,
        3785.06778413,  4343.13214618, 14131.72754086, 11521.25221478,
        8694.41720188, 12135.83910995,  5239.14427913,  3028.64250368,
       35422.31235261,  9072.25521766, 15771.39108856,  2205.60388478,
       12392.57177685,  1457.80222522, 13364.21267639, 12652.49704026,
        4347.31547661, 32196.15657412, 13306.99850047, 12920.11780193,
       14163.37012555, 10374.28695392, 16430.41508859,  7753.62608057,
       11853.45722011,  4015.20727411, 26568.39915533, 10876.591913  ,
        2074.20316868,  6180.92233554, 10789.14757384, 11632.94303632,
       10867.81565006,  9093.42384454, 11908.72406479,  6593.59689717,
        7269.06359177, 10761.32184393,  6416.21277358,  8696.84220886,
        3643.97635114, 36705.32993901,  6288.43288327, 30776.9464513 ,
       34761.37217794, 35333.04615122,  6921.6639956 , 12968.43148452,
        9950.1383906 , 14523.32853942, 17756.0913206 , 35138.60874875,
       32998.16687027,  6202.41854801, 31898.31346943,  9486.20008305,
       29321.21952463,  3486.2182634 , 28243.10350529,  5774.9056231 ,
        5373.77296696,  1754.49567972, 11450.92151108, 15132.29692316,
       11782.30002125,  4186.66721576,  9830.86370875, 31618.17869742,
        -123.99019429, 32671.87295414,  3227.2992376 , 10113.64728218,
       14354.20538856, 31592.22979505, 11468.80756565,  3879.44509033,
       13201.31324152, 31721.29624129,  8005.25440306,  3246.93370541,
        8413.77149603, 10670.92823604, 15256.69942358,  5542.17761203,
        3731.51748197, 10237.92807316, 10781.14982909, 11191.61521365,
       14359.11102206,  7338.37441675,  5218.69538409,  9154.2459964 ,
        9205.42059397, 12554.04706854,  8272.20796252, 15397.96740797,
        8451.17860463, 31775.64619265, 35795.64415007, 31557.22023617,
        5988.50839554, 12626.8408814 ,  5911.91066454, 14611.01750072,
        2362.97433095, 32950.87493315,  6301.95423696,  4937.94028297,
       14390.51885498,  6924.28700901, 38701.5725012 ,  3033.06037876,
        5778.60637742, 31699.67155945, 11582.79120914,  8517.11337002,
       14914.97519181,  9689.06681679, 26894.37217403, 33486.1273226 ,
       14587.01924361,  1614.03162043, 13214.83043914,  2207.13526551,
        5409.37992576, 11516.95109405, 39798.618799  , 36523.67018837,
       34040.39968571,  3787.9645217 ,  7387.18915913,  8596.76917595,
       12526.87568318,  4839.70060086,  1921.7175231 , 32019.46031165,
       25022.75106026, 17497.0221789 , 26334.39641587, 10181.62705034,
       37274.42740204,  -546.03141929,  6830.81970765,  7706.41704777,
        4366.47419533,  5068.16529905,  5934.57959603,  4202.58960642,
       15108.95706193, 11225.23167527,  6904.52206235,  2445.1870921 ,
        1449.94851365, 31913.56336976, 16417.0966115 , 11908.33642323,
        1194.37240709, 12547.79889484,  1476.74275362,  8681.47170295,
        1810.47964517, 33979.91533246, 10793.69491556,  2602.66041786,
       25449.92098522, 26130.5911792 ,  9507.4542965 ,  1728.67850157,
       13230.90838927,   986.31944953, 10415.3965971 , 10453.75403033,
       16991.66837588, 26701.53959532,  6848.68439883,  5141.01147579,
        5680.55041943, 13134.25611151, 10993.01497392,  8218.23957001,
        5096.33134852, 12404.55645496, 13822.51269162, 35706.00214475,
        4174.88124703, 28790.68610491, -1065.88607794,  2879.50670059,
       10997.45509712, 15599.46312682,  5099.7136935 ,  6880.68544257,
        3742.57582259, 31287.69875744,  7237.1535095 , 12369.17541992,
        5646.72201153,  9538.44782963, 36185.70570588,  4312.73783097,
        9669.29119552, 31122.47207875,  5715.16666753,  4423.86328905,
        1039.46245749,  4858.27952194,  4468.38677953,  6485.2211408 ,
       18599.00731274, -1575.33725639,  2251.98283454, 10706.47476894,
        3037.71278127, 10213.96089217,  3680.04620918,  4949.18927768,
       12444.68706375,  6253.22658315,  8279.43868882,  7551.74318174,
        8919.85917716, 10509.9290678 , 27671.35574328, 39036.24841879,
       11797.07275729,  7722.40716867, 40840.41127597, 12289.92132576,
        7081.20228161,  8327.91707619,  9028.16156947, 11000.12354674,
       10101.19771623, 17573.80552654,   970.26343618, 23538.69027396,
       12728.77986977, 33191.47859258,  5205.80816007, 13130.05888258,
       10396.62292004, 17841.99235462,  9889.07421803, 11476.6244514 ,
       32226.24694517,  3307.44913477, 13568.33140866, 39313.48565863,
        5516.29219218,  6148.16683041,  3381.34995262, 11393.97213966,
       25455.98982766, 14180.6699037 ,  9202.03941201, 10094.06050144,
       13446.45218589,   906.13805158,  2323.43062591, 30630.3401855 ,
       29970.50115279, 13541.4717009 ,  3686.88971858, 25386.89747207,
       13388.81122431, 30618.1827406 ,  3448.65652751, 38884.70796431,
       11121.99693302,  4761.14156114,  6780.21594009,  2429.87520527,
       25872.50698886, 14379.47353592,   503.15489125, 12766.46056496,
       12618.66784892, 14960.6575963 , 34946.52236231, 14390.53439304,
       31516.17424126, 10003.00239072, 18206.94096962,  5931.99337152,
        8868.76488248,  9335.37700674, 15233.672736  ,  9058.51439135,
        8394.58170119, 15042.10636357, 12800.59455658, 14812.64351999,
        7446.21494732, 25968.15221274,  9170.82975278])

In [47]:
# This can be viwed better if placed in a dataframe
prediction_df = X_test_processed.copy()
prediction_df['True Price'] = y_test
prediction_df['Predicted Price'] = predictions
prediction_df['Error'] = predictions - y_test
prediction_df.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,True Price,Predicted Price,Error
0,45,25.175,2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,8952.208557,NaN
1,36,30.020,0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,7053.797168,NaN
2,64,26.885,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,NaN,36888.369112,NaN
3,46,25.745,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,9522.497587,NaN
4,19,31.920,0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,NaN,26961.846382,NaN

EVALUATE THE MODEL

In [48]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [50]:
# Get predictions on the train and test sets
train_preds = reg_pipe.predict(X_train_processed)
test_preds = reg_pipe.predict(X_test_processed)

In [51]:
# MAE
train_MAE = mean_absolute_error(y_train, train_preds)
test_MAE = mean_absolute_error(y_test, test_preds)
print(f'Train MAE: {train_MAE}')
print(f'Test MAE: {test_MAE}')

Train MAE: 4183.153367011976
Test MAE: 4243.654116653148

In [52]:
# MSE
train_MSE = mean_squared_error(y_train, train_preds)
test_MSE = mean_squared_error(y_test, test_preds)
print(f'Train MSE: {train_MSE}')
print(f'Test MSE: {test_MSE}')

Train MSE: 37004502.18409475
Test MSE: 35117755.73613633

In [53]:
# RMSE 
print(f'Train RMSE: {np.sqrt(train_MSE)}')
print(f'Test RMSE: {np.sqrt(test_MSE)}')

Train RMSE: 6083.132596294014
Test RMSE: 5926.02360239447

In [54]:
# R2
train_r2 = r2_score(y_train, train_preds)
test_r2 = r2_score(y_test, test_preds)
print(f'Train R2: {train_r2}')
print(f'Test R2: {test_r2}')

Train R2: 0.7449555328228536
Test R2: 0.7672642952734355

END OF PRACTICE